<p>Tiny App</p>

<% if (!user) { %>
<form method="POST" action="login">
  <input id="email" type="email" name="email" placeholder="email" style="width: 300px">
  <input type="submit" value="Login">
</form>
<% } else { %>
<p>Username: <%= user.username %></p>

<form method="POST" action="logout">
  <input type="submit" value="Logout">
</form>
<% } %>
