<p>Tiny App</p>

<% if (!user) { %>
<p>Register</p><p>Login</p>
<% } else { %>
<p>Username: <%= user.username %></p>

<form method="POST" action="logout">
  <input type="submit" value="Logout">
</form>
<% } %>
